/* global style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --nav-bar-background:#fff;
    --grey-background:#EEEEEE;
    --red-color-ce: #CE1212;
    --background--selection:#DD5959;
    --red-color-e5:#E51414;
    --logo-color:#212529;
    --nav-bar-links-hover:#000;
    --home-text-color-h2:#37373F;
    --home-book-button:#FFFFFF;
    --home-book-button-bg-hover:#E61414;
    --chef-name:#212529;
    --h4-color:#7F7F90;
    --contact-info-bg:#F5F5F5;
    --border-form:#E8E3E3;
    
    
}
button{
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

*::selection {
    background-color: var(--background--selection);
    color: white;
}

h4 {
    color: var(--h4-color);
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 400;
}

p.our,
p.our span {
    color: var(--chef-name);
    font-family: "Amatic SC", sans-serif;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 50px;
}

p.our span {
    color:var(--red-color-ce);
}

html{
    scroll-behavior: smooth;
}

/* section one********************************************* */
#home {
    min-height: 100vh;
    background-color: var(--grey-background);
    padding-bottom: 100px;

}

/* nav -bar***************** */
.container-nav {
    /* background-color: tomato; */
    width: 85%;
    margin: auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: baseline;

}




.nav-bar {
    background-color: var(--nav-bar-background);
    position: fixed;
    width: 100%;
    padding: 25px 0;
    box-shadow: 0 2px 10px 10px #E7E7E7;
    z-index: 999;

}

.logo {
    flex: 1 1 33.333%;
}
.nav-ul {
    visibility: hidden;
}
.nav-ul ul {
    flex: 1 1 33.333%;
    display: flex;
    flex-direction: row;
    list-style: none;
    column-gap: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;




}


.logo a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: var(--logo-color);
}

.nav-ul a.checked {
    color: grey;
    position: relative;
    font-weight: 600;
    font-size: 17px;
}

.nav-ul a.unchecked {
    color: gray;
    position: relative;
    transition: all 0.3s;
    font-weight: 600;
    font-size: 17px;
}



.logo a::after {
    content: ".";
    color: var(--red-color-e5);
    font-size: 30px;


}
.nav-ul a.checked::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: var(--red-color-e5);
}

.nav-ul a.unchecked-chefs::before
,.nav-ul a.unchecked-galary::before
,.nav-ul a.unchecked-contact-us::before {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: var(--red-color-e5);
    transition: all 0.3s;

}

.nav-ul a.unchecked:hover::before {
    width: 100%;
}

.mode {
    flex: 1 1 33.333%;
    text-align: right;

}
.container-nav .mode a {
    color: #000;


}
.mode i.menu{
    margin-left: 20px;
}
 /* dark mode */
.mode .light{
    display: none;
}
.mode i{
    font-size: 25px;
    cursor: pointer;
}


/*
.mode-moon{
    display: none;
}
i.mood{
    cursor: pointer;
}
.mode-sun{
    display: none;
}
.light{
    display: none;
}
body:has(.mode-moon:checked){
    background-color: #000;
    color: #fff;
    .light{
        display: inline-block;
    }
    
    
    
}
body:has(.mode-moon:checked) .home .container{
    background-color: #000;
    color: #fff;
}
body:has(.mode-sun:checked){
    background-color: #fff;
    color: #000;
} */

/* لازم اكمل الdark mode  */
/* dark mode end */
body:not(:has(:target)) .home-links
,body:has(.home:target) .home-links
,body:has(.chefs:target) .chefs-links
,body:has(.galary:target) .galary-links
,body:has(.contact-us:target) .contact-us-links{
    color: var(--nav-bar-links-hover);
   
}
body:not(:has(:target)) .nav-ul a.checked::before
,body:has(.home:target) .nav-ul a.checked::before
,body:has(.chefs:target) .nav-ul a.unchecked-chefs::before
,body:has(.galary:target) .nav-ul a.unchecked-galary::before 
,body:has(.contact-us:target) .nav-ul a.unchecked-contact-us::before{
    width:100%;
    position: absolute;
}




/* under- nav -bar ***************/
.container {
    /* background-color: tomato; */
    padding: 150px 0;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;



}

.left-part {

    flex-basis: 100%;
    order: 2;
    text-align: center;
    /* background-color: #EEEEEE; */


}

.right-part {
    flex-basis: 100%;

    /* background-color: aquamarine; */
}

.right-part img {
    width: 90%;
    border-radius: 50%;
    filter: drop-shadow(4px 4px 9px #000);
    /* box-shadow: 0 0 10px 10px #BFBFBF; */
}

.left-part h2 {
    font-family: "Amatic SC", sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: var(--home-text-color-h2);
}

.left-part p {
    color: #4F4F5A;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0;

}

.btn-links {
    margin: 50px auto;
    width: 80%;
    display: flex;
    /* background-color: teal; */
    justify-content: center;
    align-items: baseline;
    column-gap: 30px;

}

.left-part .book-a-table {
    background-color: var(--red-color-ce);
    padding: 12px 27px;
    color: var(--home-book-button);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    border-radius: 30px;
    /* border-top-left-radius: 0; */
    transition: all 0.3s;
}

.left-part .watch-a-video {
    color: var(--home-text-color-h2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: all 0.3s;


}

.left-part .watch-a-video span {
    display: inline-block;
    padding: 10px 14px;
    background-color: var(--nav-bar-background);

    border-radius: 50%;
    border-right: 8px solid var(--grey-background);
    border-bottom: 8px solid var(--grey-background);
    border-top: 8px solid var(--red-color-ce);
    border-left: 8px solid var(--red-color-ce);
    margin-right: 10px;
    transform: rotate(-45deg);
    text-align: center;

}

.left-part .watch-a-video span i {

    transform: rotate(45deg);

}

.left-part .book-a-table:hover {
    background-color: var(--home-book-button-bg-hover);
}

.left-part .watch-a-video:hover {
    color: var(--red-color-ce);
}

/* vibrate mean shake image >>>> */
.right-part img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;


}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

/* ************************************************************ */
/* section 2******************************************** */
#chefs {
    padding: 150px 0;
    text-align: center;
}





.container-chefs {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* column-gap: 30px; */
    flex-wrap: wrap;
}

.chef {
    flex-basis: 100%;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #E7E7E7;
    position: relative;
    transition: all 0.5s;
    overflow: hidden;
    padding-bottom: 30px;
    margin-bottom: 40px;

    /* margin-left: 0; */
    /* z-index: -1; */

    /* background-color: teal; */
}
/*  */
picture{
    position: relative;
    z-index: 1;

}
.chef img {
    width: 100%;
    border-radius: 10px;
    position: relative;
    z-index: -1;
    display: inline-block;
}
.chef picture::before{
    content: "";
    position: absolute;
    bottom:-1px;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: url(../images/wave.svg);
    z-index: 2;
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.chef h3 {
    margin-top: 10px;
    color: var(--chef-name);
    font-family: "Inter", sans-serif;
    font-size: 18.72px;
    font-weight: 700;
}

.chef p.name {
    margin-top: 10px;
    color: #7F7F90;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.chef p.description {
    margin-top: 10px;
    color: #7F7F90;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: italic;

}

.social-media {
    width: 50px;
    height: 180px;
    background-color: rgba(211, 201, 192, 0.5);
    padding: 10px;
    position: absolute;
    right: 5px;
    top: 50px;
    border-radius: 10px;
    transform: translateX(55px);
    transition: all 0.5s;
    z-index: 4;
}

.social-media ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    


}

.chef:hover .social-media {
    transform: translateX(0);


}

.chef:hover {
    transform: scale(1.1);
}

.social-media li a {
    color: #7F7F90;
}

.social-media li a:hover {
    color: #37373F;


}

/* Gallery********************************************* */
#galery {
    padding: 100px 0;
    text-align: center;
    background-color: var(--grey-background);
}

.container-gallery {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;

}

.container-gallery img {
    width: 100%;
    transition: all 0.5s;


}

.container-gallery .meals {
    flex-basis: 100%;
    
    padding: 0 10px;
    
    

}
 /* to show some photoes and hidden others */
.container-gallery .right,.nott-show{
    display: none;
}


.container-meal .image-opacity h2 {
    color: #fff;
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container-meal .image-opacity p {
    color: #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.container-meal {
    border: 5px solid #fff;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    

}

.container-meal .image-opacity {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    transform: translateY(100%);
    transition: all 0.5s;
}

.container-meal:hover .image-opacity {
    transform: translateY(0);
}

.container-meal:hover img {
    transform: scale(1.1);
}

/* ********************************************* */
/*contact us  */

#contact-us {
    padding: 100px 0;
    /* text-align: center; */
}

.container-contact-us {
    width: 85%;
    margin: auto;
    text-align: center;
}

.container-contact-us iframe {
    width: 100%;
    height: 380px;
    margin-bottom: 30px;


}

.contact-info-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    row-gap: 15px;
    /* column-gap: 10px; */
}

.contact-info-container .info {
    flex-basis: 100%;
    display: flex;
    text-align: start;
    align-items: center;
    background-color: var(--contact-info-bg);
    padding: 25px;
}

.info h3 {
    color: #7D7D7D;
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.info p,.info a {
    color: var(--logo-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.info .info-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--red-color-ce);
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .info-icon i {
    color: var(--nav-bar-background);
}

.form-container {
    width: 100%;
    display: flex;
    box-shadow: 2px 2px 10px #E7E7E7;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-top: 30px;
    padding: 20px;
    row-gap: 20px;
}

.form-container input {

    flex-basis: 100%;
    height: 50px;
    padding-left: 10px;
    border: 2px solid var(--border-form);
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.3333px;
}

input.subjject {
    flex: 1 1 50%;
}

.form-container textarea {
    flex-basis: 100%;
    height: 160px;
    padding-left: 10px;
    border: 2px solid var(--border-form);
    color: #212529;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13.3333px;
    resize: none;
    margin-bottom: 10px;
}

.form-container button {
    margin: auto;
    background-color: var(--red-color-ce);
    color: var(--nav-bar-background);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 400;
    padding: 15px 45px;
    border: none;
    border-radius: 30px;
    transition: all 0.5s;
}

.form-container button:hover {
    background-color: var(--home-book-button-bg-hover);
}

.form-container input:focus {
    outline: 2px solid var(--red-color-ce);
    border: none;
}

.form-container textarea:focus {
    outline: 2px solid var(--red-color-ce);
    border: none;
}

/* **************************************************** */
/* footer */

#footer {
    background-image: url(../images/textured-metal-background.jpg);
    background-size: cover;
    background-position: center center;
    padding: 50px 0;
    color: #fff;
}

/* global editing */
#footer a {
    color: #fff;
}

#footer p,
span,
a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#footer h3 {
    font-family: Inter, sans-serif;
    font-size: 18.72px;
    font-weight: 700px;
    position: relative;
    /* background-color: teal; */
}

/* *************************************** */
.footer-container {
    width: 85%;
    margin: auto;
    display: flex;
    /* justify-content: baseline; */
    align-items: start;
    /* column-gap: 30px; */
    flex-wrap: wrap;
    row-gap: 20px;
}





.footer-left-part,.footer-center-part,.footer-right-part {
    flex-basis: 100%;
}




/* left-part */
.icon-logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 10px;
}

.icon-logo img {
    width: 40px;

}

.icon-logo h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.icon-logo h2::after {
    content: ".";
    color: var(--red-color-ce);
    font-size: 30px;


}

.footer-left-part h3.social:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #595959;
    position: absolute;
    top: 130%;

}

h3.social {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.footer-left-part ul {
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

/* center part */
.footer-center-part p {
    margin: 15px 0;
}

.footer-center-part form {
    display: flex;
    width: 100%;
    column-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    flex-wrap: wrap;

}

.footer-center-part input {
    flex-basis: 100%;
    height: 40px;
    padding: 10px;

}

.footer-center-part button {
    flex-basis: 100%;
    height: 40px;
    background-color: var(--red-color-ce);
    font-size: 15px;
    color: var(--nav-bar-background);
    border: none;
    margin-top: 10px;
}

.footer-center-part button:hover {
    background-color: var(--home-book-button-bg-hover);
}

.footer-center-part button i {
    color: var(--nav-bar-background);
    margin-right: 10px;
}

.footer-center-part ul {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 10px;
    column-gap: 10px;

}

.footer-center-part ul li {
    flex-basis: 48%;
    transition: all 0.5s;
    padding: 5px;



}
.footer-center-part ul li i{
    font-size: 13px;
    margin-right: 10px;
}



.footer-center-part ul li:hover {
    transform: translateX(10px);
    background-color: #222222;
}



/* right part */
.footer-right-part ul {
    height: 130px;
    margin: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.footer-right-part i {
    color: var(--red-color-ce);
    margin-right: 5px;
    font-size: 20px;

}


